* {
    margin: 0 auto;
    border: border-box;
}

#container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    
}

.box {
    border: 2px solid black;
    box-shadow:  5px 5px 5px;
    border-radius: 5px;
    height: 10rem;
    width: 10rem;
}

h1 {
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
    height: 100px;
}

@media (max-width: 500px) {
    #container {
        flex-direction: column;
    }
    .box {
        width: 60%;
    }
}
@media (max-width: 1400px) {
    #container {
        justify-content: center;
        flex-wrap: wrap;
}
}
body {
    background-color: rgb(214, 225, 235);
}